<!-- <h1>{{welcome()}}</h1> -->
<!-- <h1>{{title}}</h1> -->
<!-- <h3 class="{{myClass}}">Lets learn basic of angular in {{duration}}</h3>
<h4>Running Status: {{runningStatus}}</h4>
<h6>by - {{faculty.firstName}} {{faculty.lastName}}</h6>
<app-stud></app-stud>
<app-stud></app-stud> -->
<!-- <app-hero-app></app-hero-app>
<app-demo-component></app-demo-component>
<app-my-comp></app-my-comp> -->

<!-- <app-stud></app-stud> -->
<!-- <h1>Events</h1> -->
<!-- <div style="border: solid; height: 200px;width: 200px;font-weight: 900;" (mouseleave)="eventsDemo()">mouse events</div> -->
<!-- <br><br><br> -->
<!-- <input type="text" #demo1 (focus)="eventsDemo(demo1.value)">
<h1>name: {{demo1.value}}</h1> -->

<!-- <h1>Counter project</h1>

<button (click)="changeValue('increment')">increment</button><span>    {{value}}   </span>
<button (click)="changeValue('decrement')">decrement</button> -->

<h1 class="title">Nass Technologies</h1>
<app-stud></app-stud>
<style>
.demo{
    color: red;
}
</style>
<h1 class="demo" style="color: aqua;">Nass Technologies styled by internal</h1>